body{
font-family: 'Poppins';
background-color: #003366;
}


h1 {color: blueviolet;
    text-align: left;
    font-family: 'Poppins';
}


p {color: rgb(255, 0, 140);
   font-size: 30px;
}


a {color: darkorange;
    background-color: floralwhite;
}